---
import BaseLayout from '../layouts/BaseLayout.astro';
import SaraBicudoMobile from "/assets/svg/sara_bicudo_thin.svg?raw"
import SaraBicudoDesktop from "/assets/svg/sara_bicudo_wide.svg?raw"
import Illustration from "/assets/svg/illustration.svg?raw"
const pageTitle = "Home Page";
const hidePageTitle = true;
---

<BaseLayout pageTitle={pageTitle} hidePageTitle={hidePageTitle}>
    <main class="sub-header">
        <section class="top-section">
          <h2>Hello, I'm</h2>
          <figure class="hide-desktop" aria-labelledby="sara bicudo text black, grey and lilac text illustration">
              <Fragment set:html={SaraBicudoDesktop}/>
          </figure>
          <figure class="hide-mobile" aria-labelledby="sara bicudo text black, grey and lilac text illustration">
              <Fragment set:html={SaraBicudoMobile}/>
          </figure>
          <h3 style="font-weight:300">A Digital Designer based in Lisbon</h3>
        </section>
        <figure class="illustration" aria-labelledby="lilac, green, yellow and pink shapes all mixed together">
          <Fragment set:html={Illustration}/>
        </figure>
        <p>Irreversibly <strong style="color: var(--pink-5)">passionate</strong> for bringing <br> a <strong style="color: var(--yellow-5)">human</strong> perspective into the <strong style="color: var(--lilac-5)">digital</strong> <strong style="color: var(--green-5)">world</strong>.</p>
    </main>
    <style>
      h2 {
        text-align: left;
        margin: 0 0 8px 0;
      }

      h3 {
        text-align: left;
        margin: 40px 0 40px 0;
      }

      p {
        margin-top: 40px;
        text-align: center;
      }
      
      .illustration {
        display: block;
        max-width: 100%;
        width: 60%;
        height: auto;
        margin: 0 auto;
      }

      .top-section {
        margin: 0 auto;
        width: 80%
      }

      .sub-header {
        padding: 120px 0 40px 0;
      }

      @media (max-width: 870px) {
        .hide-desktop {
            display: none;
        }
        .hide-mobile {
          display: block;
          margin: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          height: auto;
        }
      }
    
      @media (min-width: 871px) {
        .hide-mobile {
          display: none;
        }
        .hide-desktop {
          display: block;
          margin-top: 40px;
          margin-bottom: 40px;
          height: auto;
          margin: 0 auto;
        }

        .illustration {
          top: 40px;
          margin-bottom: 40px;
        }
        .top-section h2,
        .top-section h3 {
          text-align: center;
        }
      }
    </style>
</BaseLayout>