---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Latest Work";
---
<BaseLayout pageTitle={pageTitle}>
    <Fragment slot="head">
        <style>
            h2 {
                text-align: left;
                margin: 0;
                padding: 0;
            }
    
            .work-content {
                display: flex;
                flex-direction: row;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
            }
    
            .work-container {
                width: 220px;
                height: auto;
                flex-wrap: wrap;
                padding: 4px;
                overflow: visible;
            }
    
            .work-container p {
                text-align: left;
            }
    
            .work-img {
                width: 100%;
                height: auto;
                box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.05);
                border-radius: 20px;
                margin-bottom: 10px;
            }
    
            @media only screen and (min-width: 870px) {
                .work-content {
                    gap: 20px 100px;
                }
    
                .work-img {
                    width: 100%;
                }
    
                .work-container {
                    width: 270px;
                }
            }
        </style>
    </Fragment>
    <main>
        <div class="tag-container">
            <a href="https://www.linkedin.com/sarabicudo" class="tag" target="_blank">Access Portfolio</a>
        </div>
        <ul>
            {allPosts.map((post) => <li><a href={post.url}><img class="work-img" src={post.frontmatter.image.url}>{post.frontmatter.title}{post.frontmatter.description}</a></li>)}
        </ul>

        <ul class="work-content">
            <li>
                <figure class="work-container">
                    <img class="work-img" src="/assets/img/digipath.png" alt="Figma Board of the UX/UI Project of the Whatsapp AI Sticker Feature" />
                    <h2>Digipath</h2>
                    <h3>Design Job Quiz</h3>
                    <p>FBAUL</p>
                </figure>
            </li>
            <li>
                <figure class="work-container">
                    <img class="work-img" src="/assets/img/big_blue.png" alt="Figma Board of the UX/UI Project of the Refurbishing of the FBAUL Website UX/UI Project" />
                    <figcaption>
                        <h2>Big Blue</h2>
                        <h3>Swimming School</h3>
                        <p>FBAUL</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="work-container">
                    <img class="work-img" src="/assets/img/sticker.png" alt="Figma Board of the UX/UI Project of the Refurbishing of the Super Duper Product" />
                    <figcaption>
                        <h2>Smart Stickers</h2>
                        <h3>Whatsapp Feature</h3>
                        <p>FBAUL</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </main>
</BaseLayout>